<form action="/add-question" method="POST" class="new-question-form">
  <textarea name="question" placeholder="Enter the question here"></textarea>

  <input type="text" placeholder="Enter option A here" name="optionA">
  <input type="text" placeholder="Enter option B here" name="optionB">
  <input type="text" placeholder="Enter option C here" name="optionC">
  <input type="text" placeholder="Enter option D here" name="optionD">
  <input type="text" placeholder="Enter the correct option here" name="correctAnswer">

  <input type="submit" value="Add Question">
</form>
