<div class="auth-container">

    <h3>Sign In</h3>
    <form action="/" method="POST">
        <label for="username"><b>Username</b></label>
        <input type="text" placeholder="Enter Username" name="username">
        <label for="username"><b>Password</b></label>
        <input type="text" placeholder="Enter Password" name="password">
        <input type="submit" value="SignIn">
    </form>
    <h5>Don't have an account? <a href="/register">SignUp</a> instead</h5>
</div>